<a href="https://colab.research.google.com/github/xpandalord/ds/blob/master/EDA/optimal_airbnb_EDA_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
from google.colab import files
uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019 (1).csv

# EDA

In [170]:
import pandas as pd
import numpy as np

# I will now read in the csv
# https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data
df = pd.read_csv("AB_NYC_2019.csv")

# This function will check to make sure that it was read in correctly
print(df.shape)
df.head()

(48895, 16)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [171]:
df.rename(columns={'neighbourhood_group': 'Borough', 'neighbourhood': 'Neighbourhood', 'room_type': 'Room_type', 'minimum_nights': 'Minimum_nights', 'availability_365': 'Availability_365', 'price': 'Price'}, inplace=True)
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'Borough', 'Neighbourhood',
       'latitude', 'longitude', 'Room_type', 'Price', 'Minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'Availability_365'],
      dtype='object')

In [172]:
df.drop(['id','name','host_id','host_name', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'longitude', 'latitude'], axis=1, inplace=True)
df.head()

     Borough Neighbourhood  ... Minimum_nights  Availability_365
0   Brooklyn    Kensington  ...              1               365
1  Manhattan       Midtown  ...              1               355
2  Manhattan        Harlem  ...              3               365
3   Brooklyn  Clinton Hill  ...              1               194
4  Manhattan   East Harlem  ...             10                 0

[5 rows x 6 columns]

In [173]:
# Columns 'to_list()'
df.columns.to_list()

['Borough',
 'Neighbourhood',
 'Room_type',
 'Price',
 'Minimum_nights',
 'Availability_365']

In [174]:
# This will rearrange the columns
df = df[["Borough",
         "Neighbourhood",
         "Room_type",
         "Availability_365",
         "Minimum_nights",
         "Price"]]

# This will check to make sure that they were done correctly
print(df.shape)
df.head()

(48895, 6)

     Borough Neighbourhood  ... Minimum_nights  Price
0   Brooklyn    Kensington  ...              1    149
1  Manhattan       Midtown  ...              1    225
2  Manhattan        Harlem  ...              3    150
3   Brooklyn  Clinton Hill  ...              1     89
4  Manhattan   East Harlem  ...             10     80

[5 rows x 6 columns]

In [175]:
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [176]:
# Defining Function -- ** nunique() **
def data_distributions(df):

  # predifined columns
  cols = ["Borough",
          "Neighbourhood",
          "Room_type",
          "Availability_365",
          "Minimum_nights"]

  # For loop for specified columns
  for col in cols:
    print(col + ":", df[col].nunique())
    print("\n")
    print(df[col].value_counts(normalize=True))
    print("-----\n")


# Now we need to call the function on the df
data_distributions(df)

Borough: 5


Manhattan        0.443011
Brooklyn         0.411167
Queens           0.115881
Bronx            0.022313
Staten Island    0.007629
Name: Borough, dtype: float64
-----

Neighbourhood: 221


Williamsburg          0.080172
Bedford-Stuyvesant    0.075959
Harlem                0.054361
Bushwick              0.050414
Upper West Side       0.040311
                        ...
Fort Wadsworth        0.000020
Rossville             0.000020
Richmondtown          0.000020
Willowbrook           0.000020
New Dorp              0.000020
Name: Neighbourhood, Length: 221, dtype: float64
-----

Room_type: 3


Entire home/apt    0.519665
Private room       0.456611
Shared room        0.023724
Name: Room_type, dtype: float64
-----

Availability_365: 366


0      0.358585
365    0.026485
364    0.010042
1      0.008344
89     0.007383
         ...
195    0.000532
196    0.000491
183    0.000491
181    0.000470
202    0.000409
Name: Availability_365, Length: 366, dtype: float64
-----

Minimum_nights: 109


1       0.260149
2       0.239206
3       0.163595
30      0.076899
4       0.067553
          ...
42      0.000020
186     0.000020
265     0.000020
1000    0.000020
364     0.000020
Name: Minimum_nights, Length: 109, dtype: float64
-----

In [177]:
# Defining Function -- ** value_counts() **
def values_function(df):
  # Predefined column 
   cols = ["Borough",
          "Neighbourhood",
          "Room_type",
          "Availability_365",
          "Minimum_nights"]

   for c in cols:
     print("---- %s ---" % c)
     print(df[c].value_counts())
     print("\n")

# Calling the Function
values_function(df)

---- Borough ---
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: Borough, dtype: int64


---- Neighbourhood ---
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Rossville                1
Richmondtown             1
Willowbrook              1
New Dorp                 1
Name: Neighbourhood, Length: 221, dtype: int64


---- Room_type ---
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: Room_type, dtype: int64


---- Availability_365 ---
0      17533
365     1295
364      491
1        408
89       361
       ...
195       26
196       24
183       24
181       23
202       20
Name: Availability_365, Length: 366, dtype: int64


---- Minimum_nights ---
1       12720
2       11696
3        7999
30       3760
4        3303
        ...
42          1
186         1
265         1
1000        1
364         1
Name: Minimum_nights, Length: 109, dtype: int64

In [178]:
# Now I need to check for any NaN's
df.isnull().sum()

Borough             0
Neighbourhood       0
Room_type           0
Availability_365    0
Minimum_nights      0
Price               0
dtype: int64

In [179]:
# Next will be to describe the metrics
df.describe()

       Availability_365  Minimum_nights         Price
count      48895.000000    48895.000000  48895.000000
mean         112.781327        7.029962    152.720687
std          131.622289       20.510550    240.154170
min            0.000000        1.000000      0.000000
25%            0.000000        1.000000     69.000000
50%           45.000000        3.000000    106.000000
75%          227.000000        5.000000    175.000000
max          365.000000     1250.000000  10000.000000

In [180]:
import numpy as np
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors 
%matplotlib inline

In [181]:
# Not Removing Anything
# dfx = df

# CHECK:
print(df.shape)
df.head()

(48895, 6)

     Borough Neighbourhood  ... Minimum_nights  Price
0   Brooklyn    Kensington  ...              1    149
1  Manhattan       Midtown  ...              1    225
2  Manhattan        Harlem  ...              3    150
3   Brooklyn  Clinton Hill  ...              1     89
4  Manhattan   East Harlem  ...             10     80

[5 rows x 6 columns]

In [182]:
# Name Column -- CHECK
df["Borough"].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [183]:
df["Neighbourhood"].unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook'], dtype=object)

In [186]:
Brooklyn = df[df['Borough'] == 'Brooklyn']
Brooklynlist = Brooklyn['Neighbourhood'].unique()
BrooklynDict = {}
Manhattan = df[df['Borough'] == 'Manhattan']
Manhattanlist = Manhattan['Neighbourhood'].unique()
ManhattanDict = {}
Queens = df[df['Borough'] == 'Queens']
Queenslist = Queens['Neighbourhood'].unique()
QueensDict = {}
Staten_Island = df[df['Borough'] == 'Staten Island']
Staten_Islandlist = Staten_Island['Neighbourhood'].unique()
Staten_IslandDict = {}
Bronx = df[df['Borough'] == 'Bronx']
Bronxlist = Bronx['Neighbourhood'].unique()
BronxDict = {}
f = open("Dict.txt","w")
for i in range(len(Brooklynlist)):
    BrooklynDict['Brooklyn'] = Brooklynlist[i]
    f.write(str(BrooklynDict) + "\n")
for i in range(len(Manhattanlist)):
    ManhattanDict['Manhattan'] = Manhattanlist[i]
    f.write(str(ManhattanDict) + "\n")
for i in range(len(Queenslist)):
    QueensDict['Queens'] = Queenslist[i]
    f.write(str(QueensDict) + "\n")
for i in range(len(Staten_Islandlist)):
    Staten_IslandDict['Staten Island'] = Staten_Islandlist[i]
    f.write(str(Staten_IslandDict) + "\n")
for i in range(len(Bronxlist)):
    BronxDict['Bronx'] = Bronxlist[i]
    f.write(str(BronxDict) + "\n")
f.close()

In [ ]:
Brooklyn = df[df['Borough'] == 'Brooklyn']
Brooklynlist = Brooklyn['Neighbourhood'].unique()
BrooklynDict = {}
for i in range(len(Brooklynlist)):
    BrooklynDict['Brooklyn'] = Brooklynlist[i]
    print(BrooklynDict)

In [ ]:
Manhattan = df[df['Borough'] == 'Manhattan']
Manhattanlist = Manhattan['Neighbourhood'].unique()
ManhattanDict = {}
for i in range(len(Manhattanlist)):
    ManhattanDict['Manhattan'] = Manhattanlist[i]
    print(ManhattanDict)

In [ ]:
df.dtypes

## Modeling

#### PreProcessing

In [ ]:
# I need to install category encoders
!pip install category_encoders

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import category_encoders as ce 

import warnings
warnings.filterwarnings("ignore")
pd.options.mode.chained_assignment = None

# This will use a defining function
def preprocessing(df):
  """
  Precprocesses the data.

  Input: DataFrame

  Output: X_train, X_test, y_train, y_test
  """

  # Copy the DF
  # dfx = df.copy()

  # Targets and Features
  target = "Price"
  features = ["Borough",
            "Neighbourhood",
            "Room_type",
            "Minimum_nights",
            "Availability_365"]

  # This will create the X Features Matrix
  X = df[features]

  # Factorize the Borough column
  X['Borough'] = pd.factorize(X['Borough'], sort=True)[0] + 1

  # Factorize the Neighbourhood column
  X['Neighbourhood'] = pd.factorize(X['Neighbourhood'], sort=True)[0] + 1

  # Factorize the Room_type column
  X['Room_type'] = pd.factorize(X['Room_type'], sort=True)[0] + 1

  # This will create the y target vector
  y = df[target]

  # This function will map - 'room_type'
  #room_type_dict = {"Shared room":1, "Private room":2, "Entire home/apt":3}
  #X.iloc[:, 4].map(room_type_dict)
  #print(X["room_type"])

  # Now we will create the Train_test_split
  X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=.2,
                                                    random_state=42)

  # Preprocess Pipline -- OrdinalEncoder and StandardScaler
  #preprocess = make_pipeline(
      #ce.OrdinalEncoder(),
      #StandardScaler()      
  #)

  # Now we will Fit Transform and Transform Training and Testing Data
  #X_train = transform(X_train)
  #X_test = transform(X_test)

  # I now need to create a DataFrame for X Matrices
  X_train = pd.DataFrame(X_train, columns=features)
  X_test = pd.DataFrame(X_test, columns=features)
  print(X_train.shape,
        X_test.shape,
        y_train.shape,
        y_test.shape)
  

  # Return
  return X_train, X_test, y_train, y_test

# Calling function
X_train, X_test, y_train, y_test = preprocessing(df)

# Check it out
X_train.head()

In [ ]:
X_train.dtypes

## Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Instantiate Model
lin_reg = LinearRegression()

# Fitting the Model to the training data
lin_reg.fit(X_train, y_train)

# Predicting the Training Price based on Training Data
y_pred_train = lin_reg.predict(X_train)
y_pred_test = lin_reg.predict(X_test)

# Reporting Metrics Function
def reporting_metrics(y_vector, y_pred_vector):
  mse = mean_squared_error(y_vector, y_pred_vector)
  rmse = np.sqrt(mse)
  mae = mean_absolute_error(y_vector, y_pred_vector)
  r2 = r2_score(y_vector, y_pred_vector)
  print("DATA METRICS \n")

  print("Mean Absolute Error:", mae)
  print("Mean Squared Error:", mse)
  print("Root Mean Squared Error:", rmse)
  print("R^2:", r2)

  print(".....")


# Calling Function -- ** TRAINING DATA **
reporting_metrics(y_train, y_pred_train)

# Intercept
print("Intercept:", lin_reg.intercept_)
print("\n")

# Coefficients
coefs = pd.Series(lin_reg.coef_, X_train.columns)
print("Coefficients:")
print(coefs)

In [ ]:
# Calling Function -- ** TESTING DATA **
reporting_metrics(y_test, y_pred_test)

# Intercept
#print("Intercept:", lin_reg.intercept_)
print("\n")

# Coefficients
# coefs = pd.Series(lin_reg.coef_, X_test.columns)
print("Coefficients:")
print(coefs)

## Random Forest Regressor

In [ ]:

%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

# Instantiate Model
rf_reg = RandomForestRegressor()

# Fitting the Model to the training data
rf_reg.fit(X_train, y_train)

# Predicting
y_pred_train = rf_reg.predict(X_train)
y_pred_test = rf_reg.predict(X_test)

# Reporting Metrics -- TRAINING DATA
#reporting_metrics(y_train, y_pred_train)

# Get Feature Importances
importances = pd.Series(rf_reg.feature_importances_, X_train.columns)

# Plot Top N Features Importances
n = 5
plt.figure(figsize = (5, n/2))
plt.title(f"Top {n} Most Important Training Features")
importances.sort_values()[-n:].plot.barh(color = "green");

In [ ]:
data = [[2, 109, 2, 1, 365]]
columns = ['Borough', 'Neighbourhood', 'Room_type', 'Minimum_nights', 'Availability_365']
df = pd.DataFrame(data, columns = columns)

In [ ]:
df

In [ ]:
y_pred = rf_reg.predict(df)
y_pred[0]

In [ ]:
from sklearn.externals import joblib
from joblib import dump, load

dump(rf_reg, 'rf_reg.joblib', compress=True)

In [ ]:
# Reporting Metrics -- TESTING DATA
reporting_metrics(y_test, y_pred_test)

# Get Feature Importances
importances = pd.Series(rf_reg.feature_importances_, X_test_df.columns)

# Plot Top N Features Importances
n = 5
plt.figure(figsize = (5, n/2))
plt.title(f"Top {n} Most Important Testing Features")
importances.sort_values()[-n:].plot.barh(color = "red");

## We got the best scores and minimized errors most efficiently with the Random Forest Regressor, so we decided that it would be the best model to use for the prediction app.